<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxrs"
	xmlns:soap="http://cxf.apache.org/bindings/soap"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx.xsd
              http://cxf.apache.org/bindings/soap 
              http://cxf.apache.org/schemas/configuration/soap.xsd
              http://cxf.apache.org/jaxrs 
              http://cxf.apache.org/schemas/jaxrs.xsd">

	<bean id="serviceBean" class="com.itheima.ws.service.impl.UserServiceImpl"></bean>
	<jaxws:server address="/userService">
		<jaxws:serviceBeans>
			<ref bean="serviceBean" />
		</jaxws:serviceBeans>

		<!-- 拦截请求信息 -->
		<jaxws:inInterceptors>
			<bean class=" org.apache.cxf.interceptor.LoggingInInterceptor"></bean>
		</jaxws:inInterceptors>

		<!-- 拦截响应信息 -->
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"></bean>
		</jaxws:outInterceptors>
	</jaxws:server>
</beans>